/* ==========================================================================
   Styles for older browsers
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

/* ==========================================================================
   User-defined styles
   ========================================================================== */

/* These wrappers should not change. For anything extra such as background colours, 
create a new class*/
.full-width-wrapper {
    width: 100%;
    padding: 10px;
    text-align: justify;
}

.fixed-width-1280 {
    max-width: 1280px;
    margin: 0 auto;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
