
/* ==========================================================================
   Resets
   ========================================================================== */
*, *::before, *::after { 
    box-sizing: border-box; 
} 

/* ==========================================================================
   Setting REM for various devices
   ========================================================================== */
html {
    /* Setting font-size: 100% means that we are setting the font size to be 100% of the parent
    element. Because html does not have a parent element, the default browser size of 16px will 
    be used. Hence 1 rem will be equal to the size of root element, which is 16px. */
    font-size: 100%; 
}
@media only screen and (max-width: 768px) and (min-width: 415px) {
    html {
        /* For screens <= 768px, set 1rem = 0.875*16 = 14px*/
        font-size: 87.5%; 
    }
}
@media only screen and (max-width: 414px) {
    html {
        /* For screens <= 414px, set 1rem = 0.75*16 = 12px*/
        font-size: 75%; 
    }
}


/* ==========================================================================
   User-defined styles
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.full-width-container {
    width: 100%;
}

.large-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
}

.medium-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

.small-wrapper {
    max-width: 768px;
    margin: 0 auto;
    padding: 10px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.screenreader-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
