$breakpoint-medium-screen: 768px;
$breakpoint-small-screen: 414px;
$large-wrapper-width: 1280px;
$medium-wrapper-width: 960px;
$small-wrapper-width: 768px;
$primary: #00a9e0;
$primary-light: #7fd4e8;
$primary-lighter: #cceeed;
$secondary: #FF6600;
$secondary-light: #ffb278;
$secondary-lighter: #ffe0c0;
$body-font-color: #404040;
