$breakpoint-medium-screen: 768px;
$breakpoint-small-screen: 414px;
$large-wrapper-width: 1280px;
$medium-wrapper-width: 960px;
$small-wrapper-width: 768px;
$primary-color: #FF9800;
$primary-light: #FFE0B2;
$primary-dark: #F57C00;
$accent-color: #03A9F4;
$accent-dark: #0288D1;
$accent-light: #B3E5FC; 
$body-font-color: #404040;
