/* ==========================================================================
   Imports
   ========================================================================== */
@import "../../node_modules/normalize.css/normalize";
@import "variables";
@import "helpers";

/* ==========================================================================
   Setting REM for various screen sizes. For full sized screens, setting font
   size to be 100% of html's parent, which is 16px by default, set by the browser's 
   stylesheet. Hence for full sized screens, 1 rem = 16px. For medium and small 
   screens, 1 rem = 87.5% and 81.25% of default size, which is 14px and 13px 
   respectively.
   ========================================================================== */

html {
    font-size: 100%;
    @media only screen and (max-width: $breakpoint-medium-screen) and (min-width: $breakpoint-small-screen+1) {
        font-size: 87.5%;
    }
    @media only screen and (max-width: $breakpoint-small-screen) {
        font-size: 81.25%;
    }
}

/* ==========================================================================
   User-defined styles
   ========================================================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: $body-font-color;
}

section {
    margin-bottom: 3rem;
}

.browserupgrade {
    margin: 0.625rem 0;
    background: #ccc;
    padding: 0.625rem 0;
}

.full-width-container {
    width: 100%;
}

%wrapper {
    margin: 0 auto;
    padding: 0.625rem;
}

.large-wrapper {
    @extend %wrapper;
    max-width: $large-wrapper-width;
}

.medium-wrapper {
    @extend %wrapper;
    max-width: $medium-wrapper-width;
}

.small-wrapper {
    @extend %wrapper;
    max-width: $small-wrapper-width;
}

blockquote {
    background: #fff;
    padding: 1rem 1.25rem 1rem 3rem;
    margin: 0;
    position: relative;
    line-height: 1.2;
    text-align: justify;
    border-left: 1rem solid $primary;
    border-right: 0.25rem solid $primary-light;
    box-shadow: 0.2rem 0.125rem 1rem 0px rgba(153, 153, 153, 1);
}

blockquote::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 0.625rem;
    top: 0.4rem;
}
